<h4>Example CRUD Interface with a REST API</h4>
<p>In this example we use the following:</p>
<ul>
  <li>Pagination</li>
  <li>Table</li>
  <li>Create Read Edit and Delete</li>
  <li>REST using Express</li>
  <li>Serving Yeoman from Express static folder</li>
  <li>Express REST stores data into Sqlite</li>
</ul>

<div class="crud-list" ng-show="control.show=='list'">
  <table class="table">
    <thead>
      <tr>
        <th ng-repeat="key in header">{{key}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users">
        <td ng-repeat="key in header">{{user[key]}}</td>
        <td class="text-right">
          <a class="btn btn-primary" role="button" ng-click="ShowEdit(user)">Edit</a>
          <a class="btn btn-primary" role="button" ng-click="Delete(user)">Delete</a>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="{{header.length+2}}" class="text-right">
          <a class="btn btn-primary" role="button" ng-click="ShowAdd()">Add</a>
        </th>
      </tr>
      <tr>
        <td colspan="{{header.length+2}}" class="text-center">
            <ul ng-hide="control.pagination.count<=control.pagination.pageSize" uib-pagination boundary-links="true" ng-change="ShowList()" total-items="control.pagination.count" ng-model="control.pagination.currentPage" items-per-page="control.pagination.pageSize" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
            </ul>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<div class="crud-add crud-edit nghide" ng-show="['add','edit'].indexOf(control.show)!=-1">
  <form class="form-horizontal">
    <div class="form-group">
      <label for="inputEmail" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail" ng-model="entry.email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword" ng-model="entry.password">
      </div>
    </div>
    <div class="form-group">
      <label for="inputFirstName" class="col-sm-2 control-label">First Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputFirstName" ng-model="entry.firstname">
      </div>
    </div>
    <div class="form-group">
      <label for="inputLastName" class="col-sm-2 control-label">Last Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputLastName" ng-model="entry.lastname">
      </div>
    </div>
    <div class="form-group nghide" ng-show="control.show=='add'">
      <div class="col-sm-offset-2 col-sm-10">
        <a class="btn btn-primary" role="button" ng-click="Add()">Add</a>
        <a class="btn btn-default" role="button" ng-click="Cancel()">Cancel</a>
      </div>
    </div>
    <div class="form-group nghide" ng-show="control.show=='edit'">
      <div class="col-sm-offset-2 col-sm-10">
        <a class="btn btn-primary" role="button" ng-click="Save()">Save</a>
        <a class="btn btn-default" role="button" ng-click="Cancel()">Cancel</a>
      </div>
    </div>
  </form>
</div>
